{% extends "base.html" %}
{% block contenido %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card p-4">
            <h3 class="text-center mb-4">Iniciar Sesión</h3>

            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-cian w-100">Ingresar</button>
            </form>

            <p class="text-center mt-3 mb-0">
                ¿No tienes cuenta? <a href="/registro" style="color: var(--cian);">Regístrate</a>
            </p>
<!-- admin@libreria.com / admin123 -->
            <p class="text-center mt-2 small text-muted">
            </p>
        </div>
    </div>
</div>

{% endblock %}